{% extends 'base.html' %}
{% load static %}
{% block container %}
    <h1>Post Edit</h1>
    <form method="post">
        <!-- 포스트 요청을 하여 추가해주는 것! -->
        {% csrf_token %}
        
        <input type="text" name="title" value="{{ post.title }}"/>
        <input type="text" name="content" value="{{ post.content }}"/>
        <img src="{{ post.image.url }}"></img>
        <input type="file" name="image" accept="image/*"/>
        <input type="submit" value="Submit"/>
    </form>

{% endblock %}