<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>우리반 정보
    <h2>
        Teacher
        <ul>
            <li>
                Name
            </li>
        </ul>
        Student
        <ul>
            <li>
                홍길동
            </li>
            <li>
                김길동
            </li>
            <li>
                박길동
            </li>
        </ul>
    </h2>
    </h1>
</body>
</html>