<div class="card" style="width: 18rem;">
  <div class="card-header">
    {% if post.user.profile.image %}
    <img src="{{ post.user.profile.image.url }}" width="25" alt="">
    {% endif %}
    <a href="{% url 'people' post.user.username %}">{{ post.user.username }}</a>
  </div>
  
  <div class="bd-example">
  <div id="post_{{ post.id }}" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="post_{{ post.id }}" data-slide-to="0" class="active"></li>
      <li data-target="post_{{ post.id }}" data-slide-to="1"></li>
      <li data-target="post_{{ post.id }}" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      {% for image in post.image_set.all %}
      <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
        <img src="{{ image.file.url }}" class="card-img-top" alt=" {{ image.file }}">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#post_{{ post.id }}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#post_{{ post.id }}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
  
  <div class="card-body">
    <div class-header>
      <span>{{ post.user.username }}</span>
    </div>
    <p class="card-text">{{ post.content }}</p>
    {% if post.user == user %}
    <a href="{% url 'posts:update' post.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'posts:delete' post.id %}" class="btn btn-danger">Delete</a>
    {% endif %}
  </div>
  <div class="card-body">
    <a href="{% url 'posts:like' post.id %}">
      {% if user in post.like_users.all %}
      <i class="fas fa-heart"></i>
      {% else %}
      <i class="far fa-heart"></i>
      {% endif %}
    </a>  
    <p class="card-text">
      {{ post.like_users.count }}명이 좋아합니다.
    </p>
  
    {% for comment in post.comment_set.all %}
      <div class="card-text">
        <strong>{{ comment.user.username }}</strong> {{ comment.content }}
        {% if #}
      <a href="{% url 'posts:comment_delete' post.id comment.id %}">삭제</a>
      </div>
      {% empty %}
    <div class= ["card=text"]>댓글이 없습니다.</div>
      {% endfor %}
  </div>
  {% if user.is_authenticated %}
  <form action="{% url 'posts:comment_create' post.id %}" method="POST">
    {% csrf_token %}
    <div class="input-group">
      {{ comment_form }}
      <div class="input-group-append">
        <input type="submit" value="Submit" class="btn btn-primary"/>
      </div>
    </div>
  </form>
  {% endif %}
</div>