<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        Post Detail
    </h1>
    <h2>Name : {{ student.name }}</h2>
    <p>Email : {{ student.email }}</p>
    <p>Birthday : {{ student.birthday }}</p>
    <p>Age : {{ student.age }}</p>
    <a href="/students/">List</a>
    <a href="/students/{{ student.pk }}/edit/">Edit</a>
    <a href="/students/{{ student.pk }}/delete/">Delete</a>
</body>
</html>